<%- include('./partials/head') %>

<body>
 <% if (locals.user != null){%>
	<%- include('./partials/headerLogueado')  %>
 <%}  else {%>
	<%- include('./partials/header') %>
<%}%>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12">
            <form class="form" action="/product/register" method="POST">
                <div class="title">Crear Producto</div>
                <div class="input-container ic1">
                  <input id="nombre" class="input" type="text" name="nombre" placeholder="Nombre de producto" />
                </div>
                <div class="input-container ic2">
                  <input id="descripcion" class="input" type="text" name="descripcion" placeholder="Describe tu producto"/>
                </div>
                <div class="input-container ic3">
                    <input id="imagen" class="input" type="text" name="imagen" placeholder="pone una ruta a tu imagen" />
                  </div>

                  <div class="input-container ic2">
                    <input id="user_id" class="input" type="number" name="user_id" placeholder="test id"/>
                  </div>
        
              
                <button type="text" class="submit">Guardar</button>
    
    
              </form>

            



        </h2>

</body>

<%- include('./partials/footer') %>